$hamburger-padding-x: 0.2rem;
$hamburger-padding-y: 0.2rem;
$hamburger-layer-width: 2rem;
$hamburger-layer-height: 0.2rem;
$hamburger-layer-spacing: 0.4rem;

$hamburger-types: (squeeze);

@import "hamburgers";
