---
import { Carousel } from "../components/Carousel";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Gallery">
  <h2 class="mb-6 text-2xl text-center">Entrance</h2>
  <Carousel
    client:load
    imageUrls={[
      "/photos/clubhouse-diagonal.jpeg",
      "/photos/front-entrance.jpeg",
      "/photos/lighted-up-side.jpeg",
      "/photos/neighborhood-entrance-scaled.jpeg",
    ]}
  />
</Layout>
