---
import { Carousel } from "../components/Carousel";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Gallery">
  <h2 class="mb-6 text-2xl text-center">Neighborhood Entrance</h2>
  <Carousel
    client:load
    imageUrls={[
      "/photos/frontEntranceBefore.jpg",
      "/photos/frontEntranceTwo.jpg",
      "/photos/frontisland.jpg",
      "/photos/MajorPotHoleRepair.jpg",
      "/photos/entranceElectrical.jpg",
      "/photos/entranceLights.jpg",
      "/photos/LandscapeFlowers.jpg",
    ]}
  />
    <h2 class="mb-6 text-2xl text-center">Clubhouse Exterior</h2>
    <Carousel
      client:load
      imageUrls={[
       "/photos/exteriorClubhouseRamp.jpg",
       "/photos/exteriorClubhouseRampFixed.jpg",
       "/photos/neighborhood-entrance-scaled.jpeg",
       "/photos/exteriorGraffiti.jpg",
       "/photos/exteriorGraffitiCovered.jpg",
       "/photos/exteriorDumpster.jpg",
       "/photos/exteriorPeaks.jpg",
       "/photos/exteriorPeaksRepainted.jpg",
       "/photos/lighted-up-side.jpeg",
       "/photos/exteriorLock.png",
       "/photos/exteriorAC.jpg",
       "/photos/exteriorMailbox.png",
       "/photos/ExteriorPoolOne.jpg",
       "/photos/ExteriorPoolTwo.jpg",
       "/photos/ExteriorPoolThree.jpg",
       "/photos/ExteriorPoolFour.jpg",
       "/photos/ExteriorPoolCleaned.jpg",
       "/photos/ExteriorPool.jpg",
       "/photos/exteriorRailingMulch.jpg",
       "/photos/exteriorFrontDoor.jpg",
       "/photos/exteriorBasketballCourtSealed.jpg",
       "/photos/ExteriorBasketballCourt.jpg",
       ]}
    />
    <h2 class="mb-6 text-2xl text-center">Clubhouse Interior</h2>
    <Carousel
            client:load
            imageUrls={[
                "/photos/interiorBathroomBefore.jpg",
                "/photos/interiorBathroomAfter.jpg",
                "/photos/IMG_3748.jpg",
                "/photos/IMG_4140.jpg",
                "/photos/interiorBefore.jpg",
                "/photos/interiorDrinkingFountains.JPEG",
                "/photos/interiorWallsPatched.jpg",
                "/photos/interiorPainted.jpg",
                "/photos/interiorFinal.jpg",
                "/photos/ClubhouseInteriorEntry.JPEG",
                "/photos/ClubhouseInteriorFinalTwo.JPEG",
            ]}
    />
    <h2 class="mb-6 text-2xl text-center">Around the Neighborhood</h2>
    <Carousel
            client:load
            imageUrls={[
                "/photos/neighborhoodFixes.jpg",
                "/photos/neighborhoodMailbox.jpg",
                "/photos/neighborhoodStopSignsAdded.jpg",
                "/photos/enhancementsCrosswalks.jpg",
            ]}
    />
</Layout>
