---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Crystal Ridge KCK">
  <main class="container relative p-0">
    <article class="container isolate grid gap-0 p-0 overflow-hidden">
      <img
        id="main-image"
        src="/front-entrance.jpeg"
        alt="front entrance"
        class="inset-0 -z-10 h-full object-cover"
      />
      <div class="p-4 bg-white max-w-none">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor,
        molestias at labore minima, aspernatur reprehenderit obcaecati, magnam
        atque ratione illum dolorem cupiditate eum. Odio, itaque. Perferendis,
        vero voluptate. Inventore, id.
      </div>
    </article>
  </main>
</Layout>
