---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Crystal Ridge KCK">
  <main class="container relative p-5">
    <article
      class:list={[
        "container isolate grid gap-0 p-0 min-h-[350px] overflow-hidden",
        "sm:grid-cols-[65%_auto]",
        "sm:shadow-none sm:overflow-visible",
      ]}
    >
      <img
        id="main-image"
        src="/front-entrance.jpeg"
        alt="front entrance"
        class:list={["inset-0 -z-10 h-full object-cover", "sm:rounded"]}
      />
      <div>
        <div
          class="p-4 bg-white sm:-translate-x-16 sm:translate-y-10 sm:rounded sm:shadow-lg sm:absolute sm:bottom-0"
        >
          Exciting changes are coming! <br /><br /> Crystal Ridge Residential Homes
          Association Inc. isn't just a Home Owners Association, it's a fresh start
          for the neighborhood. Join our newsletter, learn how we're spending funds,
          participate in community events, make new friends, and help make our community
          a safe, fun and inviting place to live.
        </div>
      </div>
    </article>
  </main>
</Layout>
