---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Resources">
  <h2 class="mb-6 text-2xl">Resources</h2>
  <div class="flex gap-4 flex-wrap max-[300px]:flex-col">
    <a
      class="whitespace-nowrap"
      href="https://crystalridgekck.com/wp-content/uploads/2023/02/Articles-of-incorporation.pdf"
      >Articles of Incorporation</a
    >
    <a
      class="whitespace-nowrap"
      href="https://crystalridgekck.com/wp-content/uploads/2023/02/By-Laws.pdf"
      >By Laws</a
    >
    <a class="whitespace-nowrap" href="">Board Meeting Minutes</a>
    <a class="whitespace-nowrap" href="">Board Votes</a>
    <a class="whitespace-nowrap" href="">Community Meetings</a>
    <a class="whitespace-nowrap" href="">Original CC&R's</a>
    <a class="whitespace-nowrap" href="">Purchases</a>
    <a class="whitespace-nowrap" href="">Paying HOA Dues</a>
  </div>
</Layout>
