---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Resources">
  <h2 class="mb-6 text-2xl">Resources</h2>
  <div class="grid">
    <a
      href="https://crystalridgekck.com/wp-content/uploads/2023/02/Articles-of-incorporation.pdf"
      >Articles of Incorporation</a
    >
    <a href="https://crystalridgekck.com/wp-content/uploads/2023/02/By-Laws.pdf"
      >By Laws</a
    >
  </div>
</Layout>
