---
import Layout from "../layouts/Layout.astro";
import Unchecked from "../components/UncheckedIcon.astro";
import Checked from "../components/CheckedIcon.astro";

const items = [
  {
    name: "Re-Installing Stop Signs and poles",
    completed: true,
  },
  {
    name: "Mailbox installed at clubhouse",
    completed: true,
  },
  {
    name: "Deeds for Clubhouse, Common Grounds & Streets be turned over to HOA",
    completed: true,
  },
  {
    name: "Restoring Power to the clubhouse. Turning on Exterior lights for safety and security",
    completed: true,
  },
  {
    name: "Have lawns mowed and fertilized for the common areas, clubhouse grounds and front entrance sign",
    completed: false,
  },
  {
    name: "Paying for insurance for properties and common grounds",
    completed: true,
  },
  {
    name: "Fixing ramp at clubhouse",
    completed: true,
  },
  {
    name: "Front entrance road repaired along with potholes",
    completed: false,
  },
  {
    name: "North East Column needs fixed at clubhouse",
    completed: false,
  },
  {
    name: "Fixing railing on the exterior of the clubhouse to help with safety concerns",
    completed: false,
  },
  {
    name: "Security System installed at the clubhouse",
    completed: false,
  },
  {
    name: "Repainting of the clubhouse",
    completed: false,
  },
  {
    name: "Cleaning out the pool",
    completed: false,
  },
  {
    name: "Repainting and repairs to the upstairs of the clubhouse and new flooring (Board is planning on DIY on the interior to save money)",
    completed: false,
  },
  {
    name: "Opening up the clubhouse upstairs for HOA Meetings, Community Meetings and allowing neighbors paying their HOA fees to use for private events such as a Birthday Party, Bridal Shower, etc. with a refundable deposit put down incase of damages.",
    completed: false,
  },
  {
    name: "Setting up snow removal for next year (Working with the City to see if they will take on maintenance of the roads after we perform fixes so they will do snow removal and future repairs and maintenance)",
    completed: false,
  },
];

const futureIdeas = [
  "Installing a basketball court with key card access for only neighborhood residents",
  "Installing a playground with key card access for only neighborhood residents",
  "Possibly filling the pool. In it’s place we’ve heard ideas such as a half court basketball area and a playground or a outdoor picnic area.",
  "Putting a recreation or workout room in the basement of the clubhouse with key card access so only neighborhood residents can use it.",
  "Making parking better and easier in the neighborhood. Getting back to fire marshal code with parking on one side of the road. Hoping with assistance from property owners additional off-street parking can be added.",
  "Putting in a walking trail around the neighborhood.",
];
---

<Layout title="Roadmap">
  <h2 class="mb-6 text-2xl">Come lend a hand!</h2>
  <div class="grid !grid-cols-[auto_1fr] gap-1">
    {
      items.map(({ completed, name }) => (
        <>
          {completed ? <Checked /> : <Unchecked />}
          {name}
        </>
      ))
    }
  </div>
  <div>
    <h2 class="my-6 text-2xl">Ideas for future projects</h2>
    <ul>
      {futureIdeas.map((idea) => <li class="!text-sm list-inside">{idea}</li>)}
    </ul>
  </div>
  <div>
    <h2 class="my-6 text-2xl">Do you have ideas or feedback for us?</h2>
    <div class="mb-10">
      Email us at
      <a href="mailto:CrystalRidgeKCK@gmail.com">CrystalRidgeKCK@gmail.com</a>
    </div>
  </div>
</Layout>
