---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="2023 Profit & Loss Report">
    <h2 class="mb-6 text-2xl">2023 Profit & Loss Report</h2>

    <h2>2023 Income</h2>
    <table>
        <tr>
            <td align="left">2023 Dues Income</td>
            <td align="right">$47,619.50</td>
        </tr>
    </table>

</Layout>
