---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="2023 Profit & Loss Report">
    <h2 class="mb-6 text-2xl">2023 Profit & Loss Report</h2>

    <div>
    <table>
        <th><b>2023 Income</b></th>
        <tr>
            <td>2023 Dues Income</td>
            <td class="right">$47,619.50</td>
        </tr>
        <tr>
            <td>Advanced Road Repair Funding - KCK Townhomes LLC Provided</td>
            <td class="right">$5,400.00</td>
        </tr>
        <tr>
            <td>Donation from Greg Prieb - Developer who deeded clubhouse</td>
            <td class="right">$5,000.00</td>
        </tr>
        <tr>
            <td>Google Services Credit</td>
            <td class="right">$0.07</td>
        </tr>
        <tr>
            <td>KCK Townhomes LLC - Donation for Basketball Court</td>
            <td class="right">$1,500.00</td>
        </tr>
        <tr>
            <td>Mowing Partnership Funding - Seven Property Owners Townhome/Duplex split</td>
            <td class="right">$8,664.67</td>
        </tr>
        <tr>
            <td>2024 HOA Annual Assesment Collected in 2023</td>
            <td class="right">$2,000.00</td>
        </tr>
        <tr>
            <td>Wyandotte Count Grant - Pedestrian Cross Walks, Event & Landscaping</td>
            <td class="right">500.00</td>
        </tr>
        <tr>
            <td><b>Total Income</b></td>
            <td class="right"><b>$70,684.24</b></td>
        </tr>
    </table>
    </div>
    <div>
    <table>
        <th><b>2023 Expenses</b></th>
        <tr>
            <td>2023 Lien Fees</td>
            <td class="right"><a href="/pdf/2023Reports/2023-Lien-Fees.pdf">$381.67</a></td>
        </tr>
        <tr>
            <td>Enhancement to Neighborhood</td>
            <td class="right"><a  href="/pdf/2023Reports/2023-Neighborhood-Enhancements.pdf">$3,767.49</a></td>
        </tr>
        <tr>
            <td>Event</td>
            <td class="right"><a href="/pdf/2023Reports/2023-Events.pdf">$860.09</a></td>
        </tr>
        <tr>
            <td>Google Services-Video Calls and Online Storage</td>
            <td class="right"><a href="/pdf/2023Reports/2023-Google-Services.pdf">$139.86</a></td>
        </tr>
        <tr>
            <td>Insurance - Property</td>
            <td class="right"><a href="/pdf/2023Reports/2023-Insurance.pdf">$6,089.00</a></td>
        </tr>
        <tr>
            <td>Internet Service</td>
            <td class="right"><a href="/pdf/2023Reports/2023-Internet-Service.pdf">$701.73</a></td>
        </tr>
        <tr>
            <td>Mowing Partnership Invoice</td>
            <td class="right"><a href="/pdf/2023Reports/2023-Mowing-Partnership-Invoices.pdf">$11,655.34</a></td>
        </tr>
        <tr>
            <td>Office Supplies</td>
            <td class="right"><a href="/pdf/2023Reports/2023-Office-Supplies.pdf">$577.21</a></td>
        </tr>
        <tr>
            <td>Postage & Delivery</td>
            <td class="right"><a href="/pdf/2023Reports/2023-Postage-and-Delivery.pdf">$477.31</a></td>
        </tr>
        <tr>
            <td>Repairs & Maintenance</td>
            <td class="right"><a href="/pdf/2023Reports/2023-Repair-and-Maintance.pdf">$36,380.11</a></td>
        </tr>
        <tr>
            <td>Snow Removal</td>
            <td class="right"><a href="/pdf/2023Reports/2023-Snow-Removal.pdf">$1,000.00</a></td>
        </tr>
        <tr>
            <td>Utilities</td>
            <td class="right"><a href="/pdf/2023Reports/2023-Utilities.pdf"> $5,336.85</a></td>
        </tr>
        <tr>
            <td><b>Total Expenses</b></td>
            <td class="right"><b>$67,366.66</b></td>
        </tr>
    </table>
    </div>
</Layout>
