---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="2024 Profit & Loss Report">
    <h2 class="mb-6 text-2xl">2024 Profit & Loss Report - Updated as of 09/22/2024</h2>

    <div>
        <table>
            <th><b>2024 Income</b></th>
            <tr>
                <td>2023 Dues Income - Late payments from last year dues</td>
                <td class="right">$533.72</td>
            </tr>
            <tr>
                <td>2024 & Some 2025 Dues & Special Assessment Income & Clubhouse Rentals</td>
                <td class="right">$82,648.64</td>
            </tr>
            <tr>
                <td>Mowing Partnership with Townhomes and Duplex Partnership</td>
                <td class="right">$17,015.00</td>
            </tr>
            <tr>
                <td>Cancel Payment Refund from Bank</td>
                <td class="right">$400.00</td>
            </tr>
            <tr>
                <td>Interest Obtained on accounts</td>
                <td class="right">$5.32</td>
            </tr>
            <tr>
                <td>Refund for Clubhouse Security Deposit</td>
                <td class="right">-$600.00</td>
            </tr>
            <tr>
                <td>Cancel Payment Refund from Bank</td>
                <td class="right">$400.00</td>
            </tr>
            <tr>
                <td>American Family Roof Replacement</td>
                <td class="right">$15,108.15</td>
            </tr>
            <tr>
                <td>Sales Discounts - KCK Townhomes Advanced Road Funding & Mowing Partnership for mowing that didn't occur</td>
                <td class="right">-$5,668.36</td>
            </tr>
            <tr>
                <td><b>Total Income</b></td>
                <td class="right"><b>$98,117.02</b></td>
            </tr>
        </table>
    </div>
    <div>
        <table>
            <th><b>2024 Expenses</b></th>
            <tr>
                <td>Enhancement to Neighborhood</td>
                <td class="right"><a  href="/pdf/2024Reports/2024-Enhancement-to-Neighborhood1217.pdf">$4,481.56</a></td>
            </tr>
            <tr>
                <td>Event</td>
                <td class="right"><a href="/pdf/2024Reports/2024-Events-1217.pdf">$2,047.59</a></td>
            </tr>
            <tr>
                <td>2023 Filing Taxes</td>
                <td class="right"><a href="/pdf/2024Reports/2024-Taxes.pdf">$65.00</a></td>
            </tr>
            <tr>
                <td>Google Services-Video Calls and Online Storage</td>
                <td class="right"><a href="/pdf/2024Reports/2024-GoogleServices-1217.pdf">$109.89</a></td>
            </tr>
            <tr>
                <td>Insurance - Property</td>
                <td class="right"><a href="/pdf/2024Reports/2024-Insurance.pdf">$4,095.29</a></td>
            </tr>
            <tr>
                <td>Internet Service</td>
                <td class="right"><a href="/pdf/2024Reports/2024-InternetServices-1217.pdf">$1,055.96</a></td>
            </tr>
            <tr>
                <td>KS Gov Filing</td>
                <td class="right"><a href="/pdf/2024Reports/2024-Ks-Gov-Filing.pdf">$80.00</a></td>
            </tr>
            <tr>
                <td>Legal Fees</td>
                <td class="right"><a href="/pdf/2024Reports/2024-Legal-Fees.pdf">$90.00</a></td>
            </tr>
            <tr>
                <td>Mowing Partnership Invoice</td>
                <td class="right"><a href="/pdf/2024Reports/2024-MowingPartnership-1217.pdf">$20,259.00</a></td>
            </tr>
            <tr>
                <td>Office Supplies</td>
                <td class="right"><a href="/pdf/2024Reports/2024-OfficeSupplies-1217.pdf">$849.48</a></td>
            </tr>
            <tr>
                <td>Paypal Fee</td>
                <td class="right"><a href="/pdf/2024Reports/2024-PaypalFee-1217.pdf">$567.72</a></td>
            </tr>
            <tr>
                <td>Postage & Delivery</td>
                <td class="right"><a href="/pdf/2024Reports/2024-Postage-and-Delivery.pdf">$396.51</a></td>
            </tr>
            <tr>
                <td>Refund for Clubhouse Security Deposit Rental</td>
                <td class="right"><a>$600</a></td>
            </tr>
            <tr>
                <td>Repairs & Maintenance</td>
                <td class="right"><a href="/pdf/2024Reports/2024-Repair-1217.pdf">$42,311.22</a></td>
            </tr>
            <tr>
                <td>Snow Removal</td>
                <td class="right"><a href="/pdf/2024Reports/2024-Snow-Removal.pdf">$1,202.91</a></td>
            </tr>
            <tr>
                <td>Traffic Abatement Purchase</td>
                <td class="right"><a href="/pdf/2024Reports/2024-TrafficAbatementPurchase-1217.pdf">$4,019.56</a></td>
            </tr>
            <tr>
                <td>Utilities</td>
                <td class="right"><a href="/pdf/2024Reports/2024-Utilities-1217.pdf"> $6.529.84</a></td>
            </tr>
            <tr>
                <td><b>Total Expenses</b></td>
                <td class="right"><b>$67,668.02</b></td>
            </tr>
        </table>
    </div>
</Layout>
