---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="2024 Profit & Loss Report">
    <h2 class="mb-6 text-2xl">2024 Profit & Loss Report - Updated as of 09/22/2024</h2>

    <div>
        <table>
            <th><b>2024 Income</b></th>
            <tr>
                <td>2023 Dues Income - Late payments from last year dues</td>
                <td class="right">$533.72</td>
            </tr>
            <tr>
                <td>2024 Dues & Special Assessment Income & Clubhouse Rentals</td>
                <td class="right">$58,079.50</td>
            </tr>
            <tr>
                <td>Mowing Partnership with Townhomes and Duplex Partnership</td>
                <td class="right">$14,287.50</td>
            </tr>
            <tr>
                <td>Interest Obtained on accounts</td>
                <td class="right">$4.01</td>
            </tr>
            <tr>
                <td>Refund for Clubhouse Security Deposit</td>
                <td class="right">-$600.00</td>
            </tr>
            <tr>
                <td>Cancel Payment Refund from Bank</td>
                <td class="right">$400.00</td>
            </tr>
            <tr>
                <td>American Family Roof Replacement</td>
                <td class="right">$15,108.15</td>
            </tr>
            <tr>
                <td>Sales Discounts - KCK Townhomes Advanced Road Funding & Mowing Partnership for mowing that didn't occur</td>
                <td class="right">-$5,668.36</td>
            </tr>
            <tr>
                <td><b>Total Income</b></td>
                <td class="right"><b>$82,145.02</b></td>
            </tr>
        </table>
    </div>
    <div>
        <table>
            <th><b>2024 Expenses</b></th>
            <tr>
                <td>Enhancement to Neighborhood</td>
                <td class="right"><a  href="/pdf/2024Reports/2024-Enhancement-to-Neighborhood922.pdf">$3,931.20</a></td>
            </tr>
            <tr>
                <td>Event</td>
                <td class="right"><a href="/pdf/2024Reports/2024-Events.pdf">$718.64</a></td>
            </tr>
            <tr>
                <td>2023 Filing Taxes</td>
                <td class="right"><a href="/pdf/2024Reports/2024-Taxes.pdf">$65.00</a></td>
            </tr>
            <tr>
                <td>Google Services-Video Calls and Online Storage</td>
                <td class="right"><a href="/pdf/2024Reports/2024-Google-Services922.pdf">$79.92</a></td>
            </tr>
            <tr>
                <td>Insurance - Property</td>
                <td class="right"><a href="/pdf/2024Reports/2024-Insurance.pdf">$4,095.29</a></td>
            </tr>
            <tr>
                <td>Internet Service</td>
                <td class="right"><a href="/pdf/2024Reports/2024-Internet-Service922.pdf">$755.82</a></td>
            </tr>
            <tr>
                <td>KS Gov Filing</td>
                <td class="right"><a href="/pdf/2024Reports/2024-Ks-Gov-Filing.pdf">$80.00</a></td>
            </tr>
            <tr>
                <td>Legal Fees</td>
                <td class="right"><a href="/pdf/2024Reports/2024-Legal-Fees.pdf">$90.00</a></td>
            </tr>
            <tr>
                <td>Mowing Partnership Invoice</td>
                <td class="right"><a href="/pdf/2024Reports/2024-Mowing-Partnership.pdf">$12,369.00</a></td>
            </tr>
            <tr>
                <td>Office Supplies</td>
                <td class="right"><a href="/pdf/2024Reports/2024-Office-Supplies.pdf">$476.09</a></td>
            </tr>
            <tr>
                <td>Paypal Fee</td>
                <td class="right"><a href="/pdf/2024Reports/2024-Paypal-Fee.pdf">$461.73</a></td>
            </tr>
            <tr>
                <td>Postage & Delivery</td>
                <td class="right"><a href="/pdf/2024Reports/2024-Postage-and-Delivery.pdf">$396.51</a></td>
            </tr>
            <tr>
                <td>Refund for Clubhouse Security Deposit Rental</td>
                <td class="right"><a>$400</a></td>
            </tr>
            <tr>
                <td>Repairs & Maintenance</td>
                <td class="right"><a href="/pdf/2024Reports/2024-Repairs-and-Maintenance922.pdf">$41,105.35</a></td>
            </tr>
            <tr>
                <td>Snow Removal</td>
                <td class="right"><a href="/pdf/2024Reports/2024-Snow-Removal.pdf">$1,202.91</a></td>
            </tr>
            <tr>
                <td>Traffic Abatement Purchase</td>
                <td class="right"><a href="/pdf/2024Reports/2024-Traffic-Abatement.pdf">$2,011.23</a></td>
            </tr>
            <tr>
                <td>Utilities</td>
                <td class="right"><a href="/pdf/2024Reports/2024-Utilities.pdf"> $6.529.84</a></td>
            </tr>
            <tr>
                <td><b>Total Expenses</b></td>
                <td class="right"><b>$67,668.02</b></td>
            </tr>
        </table>
    </div>
</Layout>
