---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="2025 Profit & Loss Report">
    <h2 class="mb-6 text-2xl">2025 Profit & Loss Report - Updated as of 03/05/2025</h2>

    <div>
        <table>
            <th><b>2025 Income</b></th>
            <tr>
                <td>2025 Dues Income & Past Due Special Assessment Dues</td>
                <td class="right">$65,146.91</td>
            </tr>
            <tr>
                <td>Refund via personal check from Phillip Wills on accidental wrong card purchase at menards</td>
                <td class="right">$110.67</td>
            </tr>
        </table>
    </div>
    <div>
        <table>
            <th><b>2025 Expenses</b></th>
            <tr>
                <td>Bank Fee</td>
                <td class="right"><a  href="/pdf/2025Reports/2025-BankCharges.pdf">$5.00</a></td>
            </tr>
            <tr>
                <td>Google Services-Video Calls and Online Storage</td>
                <td class="right"><a href="/pdf/2025Reports/2025-Google-Services.pdf">$19.98</a></td>
            </tr>
            <tr>
                <td>Insurance - Property</td>
                <td class="right"><a href="/pdf/2025Reports/2025-Insurance.pdf">$4,902.00</a></td>
            </tr>
            <tr>
                <td>Internet Service</td>
                <td class="right"><a href="/pdf/2025Reports/2025-Internet-services.pdf">$199.96</a></td>
            </tr>
            <tr>
                <td>Kansas City BPU</td>
                <td class="right"><a href="/pdf/2025Reports/2025-KCBPU.pdf">$1,669.12</a></td>
            </tr>
            <tr>
                <td>Legal Fees</td>
                <td class="right"><a href="/pdf/2025Reports/2025-Legal-Fees.pdf">$21.53</a></td>
            </tr>
            <tr>
                <td>Office Supplies</td>
                <td class="right"><a href="/pdf/2025Reports/2025-OfficeSupplies.pdf">$266.73</a></td>
            </tr>
            <tr>
                <td>Paypal Fees</td>
                <td class="right"><a href="/pdf/2025Reports/2025-PaypalFees.pdf">$165.88</a></td>
            </tr>
            <tr>
                <td>Refund for Clubhouse Security Deposit Rental</td>
                <td class="right"><a>$200</a></td>
            </tr>
            <tr>
                <td>Repairs & Maintenance</td>
                <td class="right"><a href="/pdf/2025Reports/2025-Repairs.pdf">$2,872.04</a></td>
            </tr>
            <tr>
                <td>Snow Removal</td>
                <td class="right"><a href="/pdf/2025Reports/2025-Snow-Removal.pdf">$7,835.00</a></td>
            </tr>
            <tr>
                <td>Waste Management Dumpster</td>
                <td class="right"><a href="/pdf/2025Reports/2025-WasteManagement.pdf">$840.75</a></td>
            </tr>
            <tr>
                <td>Workout Room</td>
                <td class="right"><a href="/pdf/2025Reports/2025-WorkoutRoom.pdf"> $4,627.28</a></td>
            </tr>
            <tr>
                <td><b>Total Expenses</b></td>
                <td class="right"><b>$23,264.63</b></td>
            </tr>
        </table>
    </div>
</Layout>
