---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="2025 Profit & Loss Report">
    <h2 class="mb-6 text-2xl">2025 Profit & Loss Report - Updated as of 09/10/2025</h2>

    <div>
        <table>
            <th><b>2025 Income</b></th>
            <tr>
                <td>2025 Dues Income & Past Due Special Assessment Dues & Paypal Paid Fees</td>
                <td class="right">$89,769.11</td>
            </tr>
            <tr>
                <td>Mowing Partnership Invoices</td>
                <td class="right">$9.181.03</td>
            </tr>
            <tr>
                <td>Clubhouse Upstairs Rental Fees and Refundable Security Deposits</td>
                <td class="right">$900.00</td>
            </tr>
            <tr>
                <td>Refund via personal check from Phillip on accidental wrong card purchase at Menards</td>
                <td class="right">$110.67</td>
            </tr>
            <tr>
                <td>Bank Interest Obtained on accounts</td>
                <td class="right">$11.14</td>
            </tr>
        </table>
    </div>
    <div>
        <table>
            <th><b>2025 Expenses</b></th>
            <tr>
                <td>Bank Fee</td>
                <td class="right"><a  href="/pdf/2025Reports/202509-BankCharges.pdf">$7.00</a></td>
            </tr>
            <tr>
                <td>Enhancement to Neighborhood</td>
                <td class="right"><a  href="/pdf/2025Reports/202509-EnhancementToNeighborhood.pdf">$9,469.24</a></td>
            </tr>
            <tr>
                <td>Equipment Lease or Rental</td>
                <td class="right"><a  href="/pdf/2025Reports/202509-EquipmentRentals.pdf">$920.28</a></td>
            </tr>
            <tr>
                <td>Event</td>
                <td class="right"><a  href="/pdf/2025Reports/202509-Event.pdf">$1,408.95</a></td>
            </tr>
            <tr>
                <td>Google Services-Video Calls and Online Storage</td>
                <td class="right"><a href="/pdf/2025Reports/202509-GoogleServices.pdf">$79.92</a></td>
            </tr>
            <tr>
                <td>Insurance - Property</td>
                <td class="right"><a href="/pdf/2025Reports/2025-Insurance.pdf">$4,902.00</a></td>
            </tr>
            <tr>
                <td>Internet Service</td>
                <td class="right"><a href="/pdf/2025Reports/202509-InternetService.pdf">$1,039.84</a></td>
            </tr>
            <tr>
                <td>Kansas City BPU</td>
                <td class="right"><a href="/pdf/2025Reports/202509-KCBPU.pdf">$4,724.28</a></td>
            </tr>
            <tr>
                <td>Legal Fees</td>
                <td class="right"><a href="/pdf/2025Reports/202509-LegalFees.pdf">$201.53</a></td>
            </tr>
            <tr>
                <td>Mowing Partnership Invoice</td>
                <td class="right"><a href="/pdf/2025Reports/202509-MowingPartnershipInvoice.pdf">$10,571.53</a></td>
            </tr>
            <tr>
                <td>Office Supplies</td>
                <td class="right"><a href="/pdf/2025Reports/202509-OfficeSupplies.pdf">$748.02</a></td>
            </tr>
            <tr>
                <td>Paypal Fees</td>
                <td class="right">$472.77</td>
            </tr>
            <tr>
                <td>Paypal Fees Offset By Payments</td>
                <td class="right">$119.70</td>
            </tr>
            <tr>
                <td>Postage and Delivery Fees</td>
                <td class="right"><a href="/pdf/2025Reports/202509-Postage.pdf">$5.58</a></td>
            </tr>
            <tr>
                <td>Pest Control</td>
                <td class="right"><a href="/pdf/2025Reports/202509-PestControl.pdf">$129.56</a></td>
            </tr>
            <tr>
                <td>Refund for Clubhouse Security Deposit Rental</td>
                <td class="right"><a>$600</a></td>
            </tr>
            <tr>
                <td>Repairs & Maintenance</td>
                <td class="right"><a href="/pdf/2025Reports/202509-RepairsMaintenance.pdf">$25,498.55</a></td>
            </tr>
            <tr>
                <td>Snow Removal</td>
                <td class="right"><a href="/pdf/2025Reports/202509-SnowRemoval.pdf">$9,245.00</a></td>
            </tr>
            <tr>
                <td>Waste Management Dumpster</td>
                <td class="right"><a href="/pdf/2025Reports/202509-WasteManagement.pdf">$3,047.34</a></td>
            </tr>
            <tr>
                <td>Workout Room</td>
                <td class="right"><a href="/pdf/2025Reports/202509-WorkoutRoom.pdf"> $11,741.73</a></td>
            </tr>
            <tr>
                <td><b>Total Expenses</b></td>
                <td class="right"><b>$84,501.08</b></td>
            </tr>
        </table>
    </div>
</Layout>
