---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="2025 Profit & Loss Report">
    <h2 class="mb-6 text-2xl">2025 Profit & Loss Report 01/01/2025 to - Updated as of 11/25/2025</h2>

    <div>
        <table>
            <th><b>2025 Income</b></th>
            <tr>
                <td>2025 Dues Income & Past Due Special Assessment Dues & Paypal Paid Fees</td>
                <td class="right">$106,146.94</td>
            </tr>
            <tr>
                <td>Mowing Partnership Invoices</td>
                <td class="right">$10,157.50</td>
            </tr>
            <tr>
                <td>Clubhouse Upstairs Rental Fees and Refundable Security Deposits</td>
                <td class="right">$900.00</td>
            </tr>
            <tr>
                <td>Bank Interest Obtained on accounts</td>
                <td class="right">$14.53</td>
            </tr>
        </table>
    </div>
    <div>
        <table>
            <th><b>2025 Expenses</b></th>
            <tr>
                <td>Bank Fee</td>
                <td class="right"><a  href="/pdf/2025Reports/BankCharge1125.pdf">$11.00</a></td>
            </tr>
            <tr>
                <td>Centennial Management - Starter Fund</td>
                <td class="right"><a  href="/pdf/2025Reports/2025-CentennialManagement.pdf">$5,000.00</a></td>
            </tr>
            <tr>
                <td>Enhancement to Neighborhood</td>
                <td class="right"><a  href="/pdf/2025Reports/202509-EnhancementToNeighborhood.pdf">$9,469.24</a></td>
            </tr>
            <tr>
                <td>Equipment Lease or Rental</td>
                <td class="right"><a  href="/pdf/2025Reports/202509-EquipmentRentals.pdf">$920.28</a></td>
            </tr>
            <tr>
                <td>Event</td>
                <td class="right"><a  href="/pdf/2025Reports/2025-Event.pdf">$1,700.34</a></td>
            </tr>
            <tr>
                <td>Google Services-Video Calls and Online Storage</td>
                <td class="right"><a href="/pdf/2025Reports/2025-GoogleServices.pdf">$109.89</a></td>
            </tr>
            <tr>
                <td>Insurance - Property</td>
                <td class="right"><a href="/pdf/2025Reports/2025-Insurance.pdf">$4,902.00</a></td>
            </tr>
            <tr>
                <td>Internet Service</td>
                <td class="right"><a href="/pdf/2025Reports/2025-Internet.pdf">$1,039.84</a></td>
            </tr>
            <tr>
                <td>Kansas City BPU</td>
                <td class="right"><a href="/pdf/2025Reports/2025-KCBPU.pdf">$5,648.34</a></td>
            </tr>
            <tr>
                <td>Legal Fees</td>
                <td class="right"><a href="/pdf/2025Reports/2025-LegalFees.pdf">$6,712.48</a></td>
            </tr>
            <tr>
                <td>Mowing Partnership Invoice</td>
                <td class="right"><a href="/pdf/2025Reports/2025-MowingPartnership.pdf">$16,541.53</a></td>
            </tr>
            <tr>
                <td>Office Supplies</td>
                <td class="right"><a href="/pdf/2025Reports/2025-OfficeSupplies.pdf">$1,005.62</a></td>
            </tr>
            <tr>
                <td>Paypal Fees</td>
                <td class="right">$658.34</td>
            </tr>
            <tr>
                <td>Paypal Fees Offset By Payments</td>
                <td class="right">$140.66</td>
            </tr>
            <tr>
                <td>Postage and Delivery Fees</td>
                <td class="right"><a href="/pdf/2025Reports/2025-Postage.pdf">$105.58</a></td>
            </tr>
            <tr>
                <td>Pest Control</td>
                <td class="right"><a href="/pdf/2025Reports/2025-PestControl.pdf">$392.57</a></td>
            </tr>
            <tr>
                <td>Refund for Clubhouse Security Deposit Rental</td>
                <td class="right">$600</td>
            </tr>
            <tr>
                <td>Repairs & Maintenance</td>
                <td class="right"><a href="/pdf/2025Reports/2025-RepairsMaintenance.pdf">$25,498.55</a></td>
            </tr>
            <tr>
                <td>Snow Removal</td>
                <td class="right"><a href="/pdf/2025Reports/2025-SnowRemoval.pdf">$9,321.38</a></td>
            </tr>
            <tr>
                <td>Waste Management Dumpster</td>
                <td class="right"><a href="/pdf/2025Reports/2025-WasteManagement.pdf">$4,089.45</a></td>
            </tr>
            <tr>
                <td>Workout Room</td>
                <td class="right"><a href="/pdf/2025Reports/2025-WorkoutRoom.pdf"> $11,859.57</a></td>
            </tr>
            <tr>
                <td><b>Total Expenses</b></td>
                <td class="right"><b>$112,494.92</b></td>
            </tr>
        </table>
    </div>
</Layout>
