---
import Layout from "../../layouts/Layout.astro";

const votes = [
  { item: "Board Meeting 1 December 1st, 2022",
    children: [
    "Voted on members present to have the following Board Member postions. 4 Single Family Homes Members, 5 Duplex Members, 6 Townhome Members. Making a total amount of Board members spots 15",
    "Voted in these Single Family Homes Board Members - Katrina Smith & Shawn Dotson",
    "Voted in these Duplex Members - Ernestine Brown, Chad Peakes, Robert Holt Proxies Rob Bauer, David Kempker, Shawntelle Smith",
    "Voted in these Townhomes Members - Phillip & Emily Wills, Mary Grunke, Brandon Laughridge, Jennifer & Jeremy Chandler",
    "Decided among board members to make dues for 2023 Fiscal Year either $35 dollars per property a month or $360 dollars per property address a year",
    "Yearly fees will need to be paid by January 31st of each year. ",
    ],
  },
  "2023 Dues where decided to set at $35 dollars if paying monthly per property address or $360 dollars per property address if paying yearly. Incentives money saving to pay yearly.",
  "First monthly dues was voted to be due January 31st. Then the last day of the month for subsequent months.",
  "Yearly fees will need to be paid by January 31st of each year.",
  "Sending out communication via mailing or emailed.",
  "Locked mailbox will be put in at the clubhouse for those who would like to mail in a check or drop off check in the mailbox. Checks only in this mailbox.",
  "Voted to have a dumpster put in at the clubhouse. Need to vote later on about having an enclosure around the dumpster.",
  {
    item: "Voted to get these items done ASAP once funds are available:",
    children: [
      "Restore Power to the clubhouse & Front Entrance Sign",
      "Get Internet Service at the clubhouse for security",
      "Install a security/alarm system",
      "Get everything insured under the HOA",
      "Installing stop signs",
    ],
  },
  "Board Members must be compliant with dues to remain on board of directors",
  "Community Meetings for first year will be every other month starting in February",
  "Increasing the townhome area’s dues to provide lawn care for all townhomes. – Board voted to not do this for at-least this year will re-vote next year",
  "Voted in office positions for the year of 2023",
  "Voted on 8 yard dumpster installed at the clubhouse",
  "Board meetings twice a month thru February 2023 then will vote if twice a month is still needed",
  "Seven stop signs and poles where voted to have installed. Going to see at a later date if anymore stop signs or slow kids at play signs are needed.",
  "Clubhouse beam/foundation issue – Voted to have fixed ASAP-when funds are available",
  "Clubhouse roof – Going to vote on fixing this next year",
  "Clubhouse ramp – Going to get some more quotes but open to fix ourselves if necessary/have a volunteer",
  "USPS parking issue in front of mailboxes. USPS asked us to correct, we voted to paint red no-parking 10 feet from the edge of each sign to allow room for the postal carrier to access mailboxes.",
  "Google fees $10 a month to hold board meetings on google meets and also have storage to hold all HOA files. – Voted yes for now but reevaluate in June 2023",
  "No overnight parking at clubhouse – Voted yes and purchased signs",
  "Snow removal for the streets and clubhouse – Going to wait on this hopefully do in 2024 due to not having the funds to purchase this year. Working with the city to see if we can get them to make our roads public and they will do the snow removal to save neighborhood money",
  "Block off ramp to clubhouse due to big hole for time being – Voted yes to help with security and liability",
  "Insuring the clubhouse and common grounds – Voted yes and to go with Country Financial",
  "Should we only focus on the upstairs for the time being – Yes, only going to work towards the upstairs for now and look at finances on fixing the basement towards the middle/end of the year.",
  "Repainting the exterior of the clubhouse – Yes if budget allows we will have this done this year",
  "Parking lot patching – Waiting on this and will bring up later this year and also see if we can do ourselves to save money",
  "Paint Interior – Decided to do this ourselves to save money will decide on a date and plan when funds are available",
  "Basketball goal installed at the clubhouse for interim – Going to revisit later in the year since we have a lot of major projects that require the majority of the finances",
  "Trash issue with trash all over the neighborhood – Going to see how this year goes. Seems to be better with dumpster at the clubhouse.",
  "Dog poop all over the neighborhood – Going to send out friendly reminder on facebook and email. Going to revisit later on in the year.",
  "Easement lawn maintenance – will be split 50/50 with the property that is directly behind or to the side. Property maintenance of easements will be discussed next year also to see if this is a pain point and if we need to increase dues to handle this. Example: the easement behind home is 50 feet. The owner would be responsible for maintenance of grass and trees, etc. of 25 feet behind the property line. Any disputes of property maintenance with neighbors on where their line is will be determined by the board of directors.",
  "Erection of a fence on personal property – The board is fine with fences being put up on private properties within owners property lines. Fencing has to be within city ordinances guidelines. Nothing over 6 feet tall will be allowed past the front door line of the home’s fascia. Any fencing beyond the front door line has to be shorter then 4 feet in height in accordance with the unified government restrictions. If your property line runs where others utilities such as cable connections go through your line and it keeps you from putting up your fence. You can request board approval to put your fence in the easement to avoid the neighbors lines. This has to be granted by written board approval. If easement land is given to avoid neighbors utility/cable lines no permanent structure may be placed on easement land that was granted to the property owner for their fence. If property line is extended into the easement via board approval to avoid utilities/cable lines any subsequent property owner must run their fence on the same line of the existing fence. This is to help with no zig zag fences. If easement is allowed to be used due to property utility/cable line issues no chain link fencing will be allowed on the granted easement land. This is due to if repairs are ever required in the easement we need to be able to quickly remove necessary panels to make infrastructure repairs.",
  "Voted to reach out to Towtruck driver's landlord to get all project cars removed from streets in the neighborhood.",
  "Voted 4-2 that we will not allow chain link fencing in the neighborhood.",
  "Townhomes and Duplexes we will have special permission form that will be signed by two board members to allow portion of easement for fence installation. Unfortunatly a lot of neighbors cables lines was ran on property lines. Making it impossible to put fencing on certain property lines without damaging others cable. Allowing use of the easement to avoid neighbors cable lines.",
  "Voted to have community policing attend our board meetings if they're available.",
  "Cornerstone was selected to fix column falling issue at the clubhouse",
  "Clubhouse Front Entrance Ramp - Voted to DIY due to the expense of fixing it",
  "Voted to purchase lights for front entrance sign and put on timer",
  "Voted yes to purchase upstairs bathroom replacement items due to vandalism. ADA Grab bar, vanity, toilet, sink, light, mirror",
  "Duct work - voted yes to have all replaced due to Raccoons eating all flex duct work",
  "Allowing Board Members to email vote on topics if matter is pressing - Voted Yes",
  "Voted to start power washing the clubhouse with David's power washer.",
  "Setting up internet service. Tried Google Fiber but didn't service our clubhouse so went with Spectrum",
  "Voted to get security quotes/camera system - Over 5k minimum - Installed a camera system ourselves",
  "Voted any past due notice in 2023 would go out in a yellow envelope with past due stamp",
  "Voted to cap broken off water fountain drain line and water line due to vandalism.",
  "Voted yes to purchase cleaning supplies when needed for the clubhouse",
  "Voted to allow President and Treasurer permission to make under $500.00 purchases for any immediate need without board vote needed. President and Treasurer both have to agree on the purchase. Any purchase greater than $500 need board approval.",
  "Voted to setup Waste Management dumpster service",
  "Voted to setup BPU",
  "Voted to get quotes and setup lawn mowing service",
  "Voted to have landscape company remove dead tree outside clubhouse and in the island. Also purchased a propane torch to keep up on center island's weeds and grass",
  "Voted to DIY and paint front entrance and leaving curbs with white reflective paint",
  "Voted to purchase a TV for Board/Community meetings with a cart that can be used to wheel out tv",
  "Voted to start DIY interior painting with restore paint we purchased for a discount",
  "Voted to revisit and wait on additional lighting around the clubhouse and neighborhood",
  "Voted to send out communication preference letters to get Emailing list to keep neighbors updated along with facebook group",
  "Voted to do a partnership with Townhome and duplex owner that saved HOA a good amount of money by partnering our mowing together",
  "Voted and performed trash pickup along with open HOA grounds trash cleanup and over grown areas to avoid extra cost from mowing company",
  "Voted to have Koala Insulation re-insulate the attic and open space walls due to Raccoons eating all old insulation.",
  "Voted yes to have 2023 BBQ Events",
  "Voted to have minimal roof repairs done in 2023 due to 2x4 hole and missing shingles",
  "Voted to have AI Contracting replace our Clubhouse roof due to hail damage/insurance claim. Replaced with Class 4 shingles. All new guttering and downspouts",
  "Community Policing and Sheriffs Department we voted to give permission to help with Cars parked on the grass/landscape areas. Not Tagged Cars, Non Moving Cars and cars being left in the clubhouse parking lot",
  "Voted and sent out Neighborhood Newsletter in both 2023 and 2024",
  "Voted to not allow basketball goals to be played on in the streets. Major liability along with we're insuring the streets for liability and increases the liability. We put a basketball goal and bench in at the clubhouse to have an area for kids/parents to play safely. Basketball goals are still allowed as long as they're played with in the driveway.",
  "Voted to get a quote on the pool after we DIY cleaned it. Quote has been between 80k to 110k. Having to table due to it's a major expense",
  "Purchased additional cameras was voted to do for the clubhouse. Had one blind spot where bb gun was shot at clubhouse windows.",
  "Church wanted to install a neighborhood pantry. We voted to not allow this at this time and will revisit with them the following year. Too many property damages and trash for this risk right now",
  "Voted in 2023 to add $38 filing lien fee to the amount due along with $35 release fee.",
  "Voted in 2024 to add administrative cost of $150 also when lien is having to be filed.",
  "Voted in 2023 to raise dues for 2024 from $360 a year to $400 a year and from $35 a month to $40 a month",
  "Voted to have landcare/snowremoval paid and maintained for townhomes and duplexes by own property owners. Didn't want to raise HOA dues an extreme amount to cover this.",
  "Voted to hold 2023 Trunk or Treat event. Only three people signed up so was cancelled",
  "Voted to start looking into traffic addition options in the townhomes. Unfortunately we don't have any space due to limited green space and infrastructure.",
  "Voted to not have a lawyer on retainer due to the expense.",
  "Voted to have community meeting that we had every other month be handled as a board meeting instead of a separate meeting",
  "Chad Peakes requested to be removed from board. Board voted yes to remove.",
  "2024 Officers voted on - Phillip Wills President, Jeremy Chandler Vice President, Rob Bauer Treasurer, Emily Wills Secretary",
  "Voted to send letters to tenant and owner on vehicle parking into Parkview Ave. Blocking view of traffic causing a safety issue.",
  "Voted to try and get school bus pickup at safer location. Bus company is not willing to change pickup/drop off location due to amount of cars and liability issue.",
  "Voted for 2024 to have a monthly payment service contract to hopefully help monthly payment elections from getting over 4 months behind.",
  "Voted for 2024 to allow 60 day late on Monthly payment. At 90 days a lien will be filed if payment isn't caught up",
  "Voted to re-establish membership fee but lower townhome to match Duplex and Single Family home at a one time $150.00 Membership Fee when a new buyer obtains a property in the neighborhood.",
  "Voted to pay and have the pool winterized. Also voted to purchase clearance pool cover for under $200.00",
  "Voted to start using Wave accounting software for 2024 finances. Also uploaded 2023 finances for reporting",
  "Voted to go with MALA snow removal company. Only company that would do our snow removal due to liability with all the cars in the roads",
  "Voted to DIY fix code violations from the UG. Clubhouse peaks needed repainted, pool fencing needed gaps fixed. Dumpster had to be enclosed.",
  "Voted to DIY pothole fixes for major potholes around the neighborhood after road repair",
  "Voted to do advance funding from KCK Townhomes LLC in 2023 as a credit to their 2024 dues to get major front entrance bump fixed","" +
  "2023 Voted to go with Country Financial on Insurance for Clubhouse and all HOA Grounds.",
  "2024 Voted to switch to American Family Insurance for Clubhouse and all HOA Grounds insurance due to better rate for same coverage.",
  "Awarded Wyco Grant. Pedestrian Crosswalks, mulch purchased with $500 dollar grant",
  "Voted on Clubhouse Upstairs rental of $100 Dollar Usage fee to cover electrical, supplies used. Along with $200 dollar refundable security deposit.",
  "Voted to purchase carpet with install from NFM for $3,091.65 for entire clubhouse upstairs. Except for tile entry way and bathroom.",
  {
    item: "Clubhouse Rental Votes",
    children: [
      "Voted we will only be renting out clubhouse upstairs for private parties/events.",
      "Rental contract was made using Rocket Lawyer and Board approved using the contract for rentals",
      "Voted to only do entire full day rentals. Time will be from 7 A.M to 10 P.M with until 11:59 P.M for cleanup same day",
      "Voted to have a $100 dollar usage rental fee.",
      "Voted to have a $200 dollar security deposit.",
      "Rental will include 8 6 foot tables and 30 chairs.",
      "We ask that all rentals be made at-least two weeks prior to event date unless an emergency reason is needed.",
      "Rental will only be allowed to residents who have an address in the neighborhood.",
      "Any damages that occur over the $200.00 amount will be invoiced to the renter. This is part of the rental contract.",
      "First rental for the year will be granted to the renter if the date is available. Any additional day will be granted 60 days prior to the event date if date is still available.",
    ],
  },
  {
    item: "2024 Property Lien Release Cost",
    children: [
      "Voted to charge the cost of $400 per property for dues.",
      "Voted to charge $38.00 to property owner for the Filing Fee that we get charged via the UG when we file.",
      "Voted to charge $38.00 to property owner for the Filing Release Fee that we get charged via the UG when we file.",
      "Voted to charge $150 Administrative/Late Fee if lien is required to be filed. Per Property.",
    ],
  },
    "Voted to spend $1,500.00 to $2,000 on code footprint done by an architect due to the Unified Government not having the records. We got this done for $1,800.00",
    "Voted to install 3 dog poop bag dispenser locations and 4 trash cans.",
    "Voted to send certified mail to all single family home owners to get feedback if they would like to allow or not allow short term rental.",
    "Voted NO 6 to 1 on changing the CC&R's to allow for short term rentals on N 103rd Ct. Single Family Homes CC&R's. Board Voted to not change the CC&Rs and continue to not allow the short term rentals.",
    "Voted to have R&K Commercial Services do Spring landscape cleanup and top dress mulch areas for $1,600.00.",
    "Voted to not re-landscape the island median this fiscal year due to cost of $5,000 minimum. Going to spray weed and grass killer and torch it this year",
    "Voted to have KSMO Concrete Flatwork LLC pour concrete pad under dumpster and extend sidewalk for $3,000.00,",
    "Voted to wait on staining the clubhouse railing",
    "Voted to purchase marquee sign for meeting and event announcements",
    "Voted to hold and bring up additional street lights and more lighting in fall of 2024/winter 2024",
    "Voted to send out 2024 progress report in June. This went out as a newsletter in the mail.",
    "Voted to purchase wood stain/protection to stain dumpster enclosure ourselves.",
    "Voted to keep extra dumpster pickup day for $115 extra a month due to multiple overage charges of $150.00 per occurrence. Adding the additional pickup day waived these overage charges. Still keeping two day pickup due to amount of trash and WM not allowing to go back down to one day with amount of trash",
    { item: "Clubhouse Roof Replacement",
        children: [
      "Voted to claim insurance for hail damage on clubhouse roof and pay $2,500.00 Deductible",
       "Voted to go with a black roof and black guttering and downspouts.",
       "Voted to go with AI Roofing Solution and we got Class 4 Shingles for same price. Will get insurance discount with this class."
    ],
    },
  {
    item: "HOA Loan Application",
    children: [
      "Voted to apply for HOA loan to help with major repairs and enhancements.",
      "We did not apply for any loans with over five lenders we reached out to.",
      "Dues aren't enough to cover a loan and we need to have over 100% of our annual budget in reserves",
      "Also would have to use clubhouse as collateral with raised dues because multiple owners own more then 10% of the neighborhood.",
    ],
  },
  {
    item: "Fire Marshall",
    children: [
      "Fire Marshall inspected the clubhouse and we passed inspection.",
      "Marshall required us to go to one side of the road parking around the clubhouse before renting it out for private events. Board voted yes to do this.",
      "Board was warned of future fines due to our roads not being in Fire Marshall Compliance. Required all streets to go to one side parking to be in compliance. Had three issues with ambulances and trucks fitting through the streets this year.",
      "Voted to do a $80 dollar per property special assessment to put in the no parking signs and go back to original one side of the road parking. Doing this for huge safety concern and avoid getting fines and appearing in court.",
    ],
  },

];
---

<Layout title="Board Votes">
  <h2 class="mb-6 text-2xl">Board Votes</h2>
  <div>
    <i class="mb-2 block">Last updated 08/01/2024 - Please note these are summarized bullet points from Board Meeting Minutes. This is still in progress documenting all the votes.</i>
  </div>
  <ul>
    {
      votes.map((item) => {
        if (typeof item === "string") return <li>{item}</li>;
        return (
          <li>
            {item.item}
            <ul>
              {item.children.map((child) => (
                <li class="ms-4">{child}</li>
              ))}
            </ul>
          </li>
        );
      })
    }
  </ul>
</Layout>
