---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Board Meeting Minutes">
  <h2 class="mb-6 text-2xl">Board Meeting Minutes - Updated as of 08/04/2024</h2>
  <div class="flex flex-col w-fit gap-4">
    <a class="whitespace-nowrap" href="/pdf/BoardMeetingMinutes30.pdf">Meeting 30</a>
    <a class="whitespace-nowrap" href="/pdf/BoardMeetingMinutes29.pdf">Meeting 29</a>
    <a class="whitespace-nowrap">Meeting 28 - Cancelled due to not enough board members</a>
    <a class="whitespace-nowrap" href="/pdf/BoardMeetingMinutes27.pdf">Meeting 27</a>
    <a class="whitespace-nowrap" href="/pdf/BoardMeetingMinutes26.pdf">Meeting 26</a>
    <a class="whitespace-nowrap" href="/pdf/25-BoardMeeting.pdf">Meeting 25</a>
    <a class="whitespace-nowrap" href="/pdf/24-BoardMeeting.pdf">Meeting 24</a>
    <a class="whitespace-nowrap" href="/pdf/23-BoardMeeting.pdf">Meeting 23</a>
    <a class="whitespace-nowrap" href="/pdf/22-BoardMeeting.pdf">Meeting 22</a>
    <a class="whitespace-nowrap" href="/pdf/21-BoardMeeting.pdf">Meeting 21</a>
    <a class="whitespace-nowrap" href="/pdf/20-BoardMeeting.pdf">Meeting 20</a>
    <a class="whitespace-nowrap" href="/pdf/19-BoardMeeting.pdf">Meeting 19</a>
    <a class="whitespace-nowrap" href="/pdf/18-BoardMeeting.pdf">Meeting 18</a>
    <a class="whitespace-nowrap" href="/pdf/17-BoardMeeting.pdf">Meeting 17</a>
    <a class="whitespace-nowrap" href="/pdf/16-BoardMeeting.pdf">Meeting 16</a>
    <a class="whitespace-nowrap" href="/pdf/15-BoardMeeting.pdf">Meeting 15</a>
    <a class="whitespace-nowrap" href="/pdf/14-BoardMeeting.pdf">Meeting 14</a>
    <a class="whitespace-nowrap" href="/pdf/13-BoardMeeting.pdf">Meeting 13</a>
    <a class="whitespace-nowrap" href="/pdf/12-BoardMeeting.pdf">Meeting 12</a>
    <a class="whitespace-nowrap" href="/pdf/11-BoardMeeting.pdf">Meeting 11</a>
    <a class="whitespace-nowrap" href="/pdf/10-BoardMeeting.pdf">Meeting 10</a>
    <a class="whitespace-nowrap" href="/pdf/9-BoardMeeting.pdf">Meeting 9</a>
    <a class="whitespace-nowrap" href="/pdf/8-BoardMeeting.pdf">Meeting 8</a>
    <a class="whitespace-nowrap" href="/pdf/7-BoardMeeting.pdf">Meeting 7</a>
    <a class="whitespace-nowrap" href="/pdf/6-BoardMeeting.pdf">Meeting 6</a>
    <a class="whitespace-nowrap" href="/pdf/Board-Meeting-Five.pdf">Meeting 5</a
    >
    <a class="whitespace-nowrap" href="/pdf/Board-Meeting-Four.pdf">Meeting 4</a
    >
    <a class="whitespace-nowrap" href="/pdf/Board-Meeting-Notes-Three.pdf"
      >Meeting 3</a
    >
    <a class="whitespace-nowrap" href="/pdf/Board-Meeting-Notes-Two.pdf"
      >Meeting 2</a
    >
    <a class="whitespace-nowrap" href="/pdf/Board-Meeting-One.pdf">Meeting 1</a>
  </div>
</Layout>
