---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Board Meeting Minutes">
  <h2 class="mb-6 text-2xl">Board Meeting Minutes - Updated as of 09/14/2025</h2>
  <div class="flex flex-col w-fit gap-4">
    <a class="whitespace-nowrap" href="/pdf/43-BoardMeeting.pdf">Meeting 43 - November 13th, 2025</a>
    <a class="whitespace-nowrap" href="/pdf/42-BoardMeeting.pdf">Duplex Owners Meeting - October 16th, 2025</a>
    <a class="whitespace-nowrap" href="/pdf/42-BoardMeeting.pdf">Meeting 42 - September 18th, 2025</a>
    <a class="whitespace-nowrap" href="/pdf/41-BoardMeeting.pdf">Meeting 41 - September 4th, 2025</a>
    <a class="whitespace-nowrap" href="/pdf/40-BoardMeeting.pdf">Meeting 40 - July 24th, 2025</a>
    <a class="whitespace-nowrap" href="/pdf/39-BoardMeeting.pdf">Meeting 39 - June 26th, 2025</a>
    <a class="whitespace-nowrap">Meeting 38 -Cancelled due to President's conflict</a>
    <a class="whitespace-nowrap" href="/pdf/37-BoardMeeting.pdf">Meeting 37 - May 15th, 2025</a>
    <a class="whitespace-nowrap" href="/pdf/36-BoardMeeting.pdf">Meeting 36 - April 24th, 2025</a>
    <a class="whitespace-nowrap" href="/pdf/35-BoardMeeting.pdf">Meeting 35 - March 20th, 2025</a>
    <a class="whitespace-nowrap" href="/pdf/34-BoardMeeting.pdf">Meeting 34 - March 6th, 2025</a>
    <a class="whitespace-nowrap" href="/pdf/33-BoardMeeting.pdf">Meeting 33 - February 20th, 2025</a>
    <a class="whitespace-nowrap" href="/pdf/33-BoardMeeting.pdf">Meeting 33 - February 20th, 2025</a>
    <a class="whitespace-nowrap" href="/pdf/32-BoardMeeting.pdf">Meeting 32 - January 23rd, 2025</a>
    <a class="whitespace-nowrap">Meeting 31 - Cancelled due to not enough board members</a>
    <a class="whitespace-nowrap" href="/pdf/BoardMeetingMinutes30.pdf">Meeting 30 - November 14th, 2024</a>
    <a class="whitespace-nowrap" href="/pdf/BoardMeetingMinutes29.pdf">Meeting 29 - October 12th, 2024</a>
    <a class="whitespace-nowrap">Meeting 28 - Cancelled due to not enough board members</a>
    <a class="whitespace-nowrap" href="/pdf/BoardMeetingMinutes27.pdf">Meeting 27 - September 12th, 2024</a>
    <a class="whitespace-nowrap" href="/pdf/BoardMeetingMinutes26.pdf">Meeting 26 - August 10th, 2024</a>
    <a class="whitespace-nowrap" href="/pdf/25-BoardMeeting.pdf">Meeting 25 - July 25th, 2024</a>
    <a class="whitespace-nowrap" href="/pdf/24-BoardMeeting.pdf">Meeting 24 - July 11th, 2024</a>
    <a class="whitespace-nowrap" href="/pdf/23-BoardMeeting.pdf">Meeting 23 - June 8th, 2024</a>
    <a class="whitespace-nowrap" href="/pdf/22-BoardMeeting.pdf">Meeting 22 - May 16th, 2024</a>
    <a class="whitespace-nowrap" href="/pdf/21-BoardMeeting.pdf">Meeting 21 - April 13th, 2024</a>
    <a class="whitespace-nowrap" href="/pdf/20-BoardMeeting.pdf">Meeting 20 - March 28th, 2024</a>
    <a class="whitespace-nowrap" href="/pdf/19-BoardMeeting.pdf">Meeting 19 - March 7th, 2024</a>
    <a class="whitespace-nowrap" href="/pdf/18-BoardMeeting.pdf">Meeting 18 - February 17th, 2024</a>
    <a class="whitespace-nowrap" href="/pdf/17-BoardMeeting.pdf">Meeting 17 - January 18th, 2024 </a>
    <a class="whitespace-nowrap" href="/pdf/16-BoardMeeting.pdf">Meeting 16 - November 9th, 2023</a>
    <a class="whitespace-nowrap" href="/pdf/15-BoardMeeting.pdf">Meeting 15 - October 14th, 2023</a>
    <a class="whitespace-nowrap" href="/pdf/14-BoardMeeting.pdf">Meeting 14 - September 28th, 2023</a>
    <a class="whitespace-nowrap" href="/pdf/13-BoardMeeting.pdf">Meeting 13 - August 17th, 2023</a>
    <a class="whitespace-nowrap" href="/pdf/12-BoardMeeting.pdf">Meeting 12 - July 13th, 2023</a>
    <a class="whitespace-nowrap" href="/pdf/11-BoardMeeting.pdf">Meeting 11 - June 15th, 2023</a>
    <a class="whitespace-nowrap" href="/pdf/10-BoardMeeting.pdf">Meeting 10 - May 25th, 2023</a>
    <a class="whitespace-nowrap" href="/pdf/9-BoardMeeting.pdf">Meeting 9 - April 10th, 2023</a>
    <a class="whitespace-nowrap" href="/pdf/8-BoardMeeting.pdf">Meeting 8 - March 23rd, 2023</a>
    <a class="whitespace-nowrap" href="/pdf/7-BoardMeeting.pdf">Meeting 7 - March 9th, 2023</a>
    <a class="whitespace-nowrap" href="/pdf/6-BoardMeeting.pdf">Meeting 6 - February 23rd, 2023</a>
    <a class="whitespace-nowrap" href="/pdf/Board-Meeting-Five.pdf">Meeting 5 - February 7th, 2023</a>
    <a class="whitespace-nowrap" href="/pdf/Board-Meeting-Four.pdf">Meeting 4 - January 19th, 2023</a>
    <a class="whitespace-nowrap" href="/pdf/Board-Meeting-Notes-Three.pdf">Meeting 3 - January 5th, 2023</a>
    <a class="whitespace-nowrap" href="/pdf/Board-Meeting-Notes-Two.pdf">Meeting 2 - December 8th, 2022</a>
    <a class="whitespace-nowrap" href="/pdf/Board-Meeting-One.pdf">Meeting 1 - December 1st, 2022</a>
  </div>
</Layout>
