---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Original CC&R's">
  <h2 class="mb-6 text-2xl">Original CC&R's</h2>
  <div class="flex flex-col w-fit gap-4">
    <a class="whitespace-nowrap" href="/pdf/Townhomes-CCR.pdf">Townhomes</a>
    <a class="whitespace-nowrap" href="/pdf/Duplex-CCR.pdf">Duplex</a>
    <a class="whitespace-nowrap" href="/pdf/Single-Family-CCR.pdf"
      >Single Family Homes</a
    >
  </div>
</Layout>
