---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Resources">
  <h2 class="mb-6 text-2xl">HOA Dues</h2>
  <h3 class="mb-3 text-lg">Pay by mail</h3>
  <div class="mb-3">
    Please make checks payable to "Crystal Ridge Residential Homes Association,
    Inc" and either mail to 3212 N 103rd Terrace, Kansas City, KS 66109 or drop
    in the mailbox with your name and address in the clubhouse mail box/dropbox.
  </div>
  <h3 class="mb-3 text-lg">Pay with PayPal</h3>
  <div class="mb-3">
    <a href="https://paypal.me/CrystalRidgeKCK?country.x=US&locale.x=en_US"
      >Crystal Ridge Residential Homes Association, Inc</a
    >
  </div>
  <h2 class="mb-6 text-2xl">Additional Resources</h2>
  <div class="flex gap-4 flex-col w-fit">
    <a
      class="whitespace-nowrap"
      href="https://crystalridgekck.com/wp-content/uploads/2023/02/Articles-of-incorporation.pdf"
      >Articles of Incorporation</a
    >
    <a
      class="whitespace-nowrap"
      href="https://crystalridgekck.com/wp-content/uploads/2023/02/By-Laws.pdf"
      >By Laws</a
    >
    <a class="whitespace-nowrap" href="./resources/board-meeting-minutes"
      >Board Meeting Minutes</a
    >
    <a class="whitespace-nowrap" href="./resources/board-votes">Board Votes</a>
    <a class="whitespace-nowrap" href="./resources/meeting-recordings"
      >Community Meetings</a
    >
    <a class="whitespace-nowrap" href="./resources/CCR">Original CC&R's</a>
  </div>
</Layout>
