---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Board Votes">
  <h2 class="mb-6 text-2xl">Meeting Recordings</h2>
  <h3 class="mb-3 text-lg">Meeting #1</h3>
  <div class="mb-3">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/e8sOKsduFu4"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>

  <h3 class="mb-3 text-lg">Interest Meeting</h3>
  <div class="mb-3">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/Jqe5IEvvCLY"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>

  <h3 class="mb-3 text-lg">Crystal Ridge Clubhouse Before Repairs</h3>
  <div class="mb-3">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/1oiiy_1mD_I"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
    <div>
      <i>
        Video was taken in Winter of 2021-2022. Since video was taken, clubhouse
        has been picked up inside and also multiple items have been fixed.
      </i>
    </div>
  </div>
</Layout>
