<nav class="px-4">
  <ul>
    <li>
      <a href="/"><img src="/favicon.svg" alt="logo" id="logo" /></a>
    </li>
  </ul>
  <ul>
    <li><a href="#" class="whitespace-nowrap">Home</a></li>
    <li><a href="#" class="whitespace-nowrap">Roadmap</a></li>
    <li><a href="#" class="whitespace-nowrap">Gallery</a></li>
    <li><a href="#" class="whitespace-nowrap">About Us</a></li>
  </ul>
</nav>
<style>
  #logo {
    --logo-width: calc(var(--font-size) * 2);
    width: var(--logo-width);
    min-width: var(--logo-width);
  }
</style>
