<nav class="px-4">
  <ul>
    <li><strong>CrystalRidgeKCK</strong></li>
  </ul>
  <ul>
    <li><a href="#" class="whitespace-nowrap">Our Story</a></li>
    <li><a href="#" class="whitespace-nowrap">Rental Properties</a></li>
    <li><a href="#" class="whitespace-nowrap">Roadmap</a></li>
    <li><a href="#" class="whitespace-nowrap">Contact</a></li>
  </ul>
</nav>
