---
import { db } from "astro:db";
import { TextInput, Button } from "@mantine/core";
import { DatePickerInput } from "@mantine/dates";
import { PhoneNumberInput } from "../../components/PhoneNumberInput";

if (Astro.request.method === "POST") {
  // parse form data
  const formData = await Astro.request.formData();
  const date = formData.get("reservation-date");
  const email = formData.get("email-address");
  const phoneNumber = formData.get("phone-number");
  return new Response(`${date} ${email} ${phoneNumber}`);
}
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>Clubhouse Reservation | Crystal Ridge</title>
</head>
<h2 class="font-sans">Clubhouse Reservation</h2>
<form class="flex flex-col gap-2 max-w-prose" method="POST">
  <DatePickerInput
    client:only
    required
    name="reservation-date"
    label="Reservation Date"
  />
  <TextInput client:only required name="email-address" label="Email Address" />
  <PhoneNumberInput client:only name="phone-number" />
  <Button client:only type="submit" className="w-fit">Submit</Button>
</form>
