---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Reserve the Clubhouse">
  <h2>Reserve the Clubhouse</h2>
  <iframe src="/reservations/clubhouse-frame" class="w-full min-h-[30rem]"
  ></iframe>
</Layout>
