---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Reserve the Clubhouse">
  <h2>Clubhouse Reservations</h2>
  <p>
    We are thrilled to announce that our neighborhood clubhouse is now available
    for private event rentals! After meticulous renovations and a successful
    inspection by the fire marshal, we are excited to open up this space for our
    community to enjoy.
  </p>
  <h4>Make a reservation</h4>
  <iframe src="/reservations/clubhouse-frame" class="w-full h-dvh"></iframe>
  <script>
    import iframeResize from "@iframe-resizer/parent";

    // @ts-ignore
    iframeResize({ license: "GPLv3" }, "iframe");
  </script>
</Layout>
