---
import { db, ClubhouseReservations } from "astro:db";
import { TextInput, Button, Textarea } from "@mantine/core";
import { PhoneNumberInput } from "../../components/PhoneNumberInput";
import { getData, validateData } from "../../utils/clubhouseReservationForm";
import { DateInput } from "../../components/DateInput";

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();

  const data = getData(formData);
  const { reservationDate, emailAddress, phoneNumber } = data;

  if (validateData(data)) {
    try {
      await db.insert(ClubhouseReservations).values(data);
    } catch (error) {
      return new Response("Something went wrong!");
    }

    return new Response(
      `Success!!\nYou've reserved the clubhouse on ${reservationDate.toLocaleDateString("en-us", { weekday: "long", year: "numeric", month: "short", day: "numeric" })}\n\nEmail Address: ${emailAddress}\nPhone Number: ${phoneNumber}`
    );
  } else {
    return new Response("Something went wrong!");
  }
}

const reservedDates = (
  await db
    .select({ reservation: ClubhouseReservations.reservationDate })
    .from(ClubhouseReservations)
).map(({ reservation }) => reservation);
---

<form class="flex flex-col gap-2 max-w-prose" id="reservation" method="POST">
  <DateInput reservedDates={reservedDates} client:only />
  <TextInput client:only required name="email-address" label="Email Address" />
  <PhoneNumberInput client:only name="phone-number" />
  <TextInput client:only required name="address" label="Street Address" />
  <TextInput client:only required name="event-type" label="Event Type" />
  <Textarea client:only name="description" label="Description" />
  <Button client:only type="submit" className="w-fit">Submit</Button>
</form>
<script>
  import { getData, validateData } from "../../utils/clubhouseReservationForm";

  document.getElementById("reservation")?.addEventListener("submit", (e) => {
    if (!e.target) return;

    const formData = new FormData(e.target as HTMLFormElement);

    const data = getData(formData);

    if (!validateData(data)) {
      e.preventDefault();
    }
  });
</script>
