---
import { db } from "astro:db";
import { TextInput, InputBase, Button } from "@mantine/core";
import { DatePickerInput } from "@mantine/dates";
import { IMaskInput } from "react-imask";

if (Astro.request.method === "POST") {
  // parse form data
  const formData = await Astro.request.formData();
  console.log(formData, db);
}
---

<form class="flex flex-col gap-2" method="POST">
  <DatePickerInput client:only required label="Reservation Date" />
  <TextInput client:only required label="Email Address" />
  <InputBase
    client:only
    required
    label="Phone Number"
    component={IMaskInput}
    mask="(000) 000-0000"
  />
  <Button client:only type="submit" className="w-fit">Submit</Button>
</form>
