---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Reserve the Clubhouse">
  <div class="flex flex-col gap-6">
    <div>
      <h2 class="mb-3">Clubhouse Reservations</h2>
      Our Clubhouse is now open for private events!
      <div>
        <a
          href="/pdf/Clubhouse-Rental-Information.pdf"
          target="_blank"
          rel="noopener noreferrer"
          >Read the announcement from our HOA President.</a
        >
      </div>
    </div>
    <div>
      <h2 class="mb-3">Make a reservation</h2>
      <iframe src="/reservations/clubhouse-frame" class="w-full h-dvh"></iframe>
    </div>
  </div>
  <script>
    import iframeResize from "@iframe-resizer/parent";

    // @ts-ignore
    iframeResize({ license: "GPLv3" }, "iframe");
  </script>
</Layout>
