---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Reserve the Clubhouse">
  <h2>Clubhouse Reservations</h2>
  <p>
    The Clubhouse is now open for private events! <a
      href="/pdf/Clubhouse-Rental-Information.pdf"
      target="_blank"
      rel="noopener noreferrer">Read the announcement from our HOA President!</a
    >
  </p>
  <h3>Make a reservation here</h3>
  <iframe src="/reservations/clubhouse-frame" class="w-full h-dvh"></iframe>
  <script>
    import iframeResize from "@iframe-resizer/parent";

    // @ts-ignore
    iframeResize({ license: "GPLv3" }, "iframe");
  </script>
</Layout>
