---
import "../../styles/pico/custom-pico.scss";
import { convertDate } from "../../utils/clubhouseReservationForm";

const params = Astro.url.searchParams;
const reservationDate = params.get("reservationDate")!;
---

<div>
  <p>
    Congrats! You've reserved the Clubhouse for {
      convertDate(new Date(parseInt(reservationDate)))
    }!
  </p>
</div>
<style>
  html {
    background-color: #f9fafb;
  }
</style>
