<head>
  <title>Crystal Ridge Clubhouse Rental - Terms and Conditions</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
</head>

<h2 class="font-sans">Crystal Ridge Clubhouse Rental - Terms and Conditions</h2>

<div class="font-sans">
  <ul>
    <li>
      Capacity: The first floor of the clubhouse can accommodate a maximum of 30
      people, as per Fire Marshal regulations.
    </li>
    <li>
      Rental Hours: Rentals are for the whole day, with events needing to
      conclude by 10 P.M. Cleanup must be completed, and everyone must vacate
      the premises by 12 A.M.
    </li>
  </ul>

  <ul>
    <li>
      Rental Fee: $100 to cover utility usage, cleaning supplies, etc. Any
      surplus will be reinvested to enhance the rental space.
    </li>
    <li>
      Deposit: $200, fully refundable if the clubhouse is returned in the same
      condition.
    </li>
    <li>
      Cancellation Policy: 50% forfeiture for cancellations between 30-16 days
      before the event, and 100% forfeiture for cancellations 15 days or less
      prior.
    </li>
  </ul>

  <ul>
    <li>No blocking fire exits or lanes.</li>
    <li>No smoking inside or on the covered deck.</li>
    <li>
      No grills on the covered deck; they are permitted in the parking lot or
      sidewalk.
    </li>
    <li>Use command strips or tape for decorations to avoid damage.</li>
    <li>
      Alcohol is allowed, but renters must comply with all laws and take full
      liability. For events with over 15 attendees and alcohol service, a
      licensed bartender or security guard is required.
    </li>
    <li>
      Events shall not interfere with use of the basketball court, along with a
      future pool or playground.
    </li>
    <li>
      Events shall not interfere with surrounding neighbors to enjoy their
      homes.
    </li>
  </ul>
</div>
