---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <main class="container relative p-0 max-w-prose">
    <slot />
  </main>
</Layout>
