---
import Footer from "../components/Footer.astro";
import { HeaderResponsive } from "../components/Header2";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css"
    />
    <title>{title}</title>
  </head>
  <HeaderResponsive
    client:load
    links={[
      { label: "Roadmap", link: "./roadmap" },
      { label: "Gallery", link: "./gallery" },
      { label: "About Us", link: "./about-us" },
    ]}
  />
  <body class="relative text-sm">
    <slot />
  </body>
  <Footer />

  <style>
    body {
      min-height: 100vh;
      min-height: 100svh;
    }
  </style>
</html>
